@import variables

generate($property, $propertyMap, $unit = px)
    for $size, $s in $sizes
        {$propertyMap}-{$size}
            {$property} unit($sizesVals[$s], $unit)

        for $direction, $d in $directions
            {$propertyMap}-{$directionsMaps[$d]}-{$size}
                {$property}-{$direction} unit($sizesVals[$s], $unit)