@import variables

generate($property, $propertyMap, $unit = px, $positiveOnly = false)
    for $size, $s in $sizes
        if !($positiveOnly && $sizesValues[$s] < 0)
            .{$propertyMap}-{$size}
                {$property} unit($sizesValues[$s], $unit)

            for $direction, $d in $directions
                .{$propertyMap}-{$directionsMaps[$d]}-{$size}
                    {$property}-{$direction} unit($sizesValues[$s], $unit)