$directions ?= (top right bottom left)
$directionsMaps ?= (t r b l)
$sizes ?= (none xs sm md lg xlg)
$sizesValues ?= (0 10 15 20 25 30)

// Nigative values can be rendered some like this
// $sizes = (none xs sm md lg xlg -xs -sm -md -lg -xlg)
// $sizesValues = (0 10 15 20 25 30 -10 -15 -20 -25 -30)
